@iterations: 10;
@marginBase: 5;
@weightBase: 100;

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 999;
}
.header {
  padding: 15px;
}
.h {
  &-full{
    height: 100vh;
  }
}
.text {
  &-center {
    text-align: center;
  }
}
.d{
  &-flex {
    display: flex;
  }
}
.justify{
  &-center{
    justify-content: center;
  }
}
.align{
  &-center{
    align-items: center;
  }
}
.bg {
  &-light-grey {
    background-color: #f5f5f5;
  }
}
.hint {
  font-size: 10px;
}
.bold {
  font-weight: 600;
}


// .w {
//   &-@{number}{
//     width: @number;
//   }
// }

.loop(@i) when (@i > 0) {
  .mt-@{i} {
    margin-top: unit(@marginBase * @i, px);
  }
  .p-@{i} {
    padding: unit(@marginBase * @i, px);
  }
  .font-weight-@{i} {
    font-weight: (@weightBase * @i);
  }
  .loop(@i - 1);
}
.loop(@iterations);
